.root {
    -fx-background-color: #f4f4f4;
}

.titulo {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.input {
    -fx-padding: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.combo-box {
    -fx-padding: 5px;
}

.button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #0056b3;
}

.output-area {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.function-label {
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
    -fx-padding: 5px 0;
}
